# Ignore node_modules
drawfie-frontend/node_modules/
drawfie-backend/node_modules/

# Ignore environment files
drawfie-frontend/.env
drawfie-backend/.env

# Ignore build files
drawfie-frontend/.next/
drawfie-frontend/out/
drawfie-frontend/build/
drawfie-backend/dist/

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
